# Binaries and tools
bin/
dist/
/telesectd
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test coverage and profiles
*.out
*.prof
*.test


# MkDocs Build Target
site/

# Development Environments / Tooling
.idea/
.vscode/
*.swp
*.swo
.DS_Store
.env